.row {
  text-align: center;
  width: 100%;
}

.column {
}

.transition {
}

input {
  width: 8rem !important;
  text-align: center !important;
}

.input {
  padding-left: 0% !important;

  margin: 1%;
}

.label {
  margin: 5%;
  width: 9rem;
  height: 3rem;
}

.icon {
  z-index: 10;
}

.iconButton {
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: all;
}

.iconButton:hover,
.iconButton:focus,
.iconButton:active {
  opacity: 0.7;
  cursor: pointer;
  transform: scale(1.8);
}

.checkbox {
  padding-left: 1em;
}
